Node-Red/flows.json
[
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "Patient Status",
        "tab": "tab_dash",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "grp_alarms",
        "type": "ui_group",
        "name": "Alarms & Events",
        "tab": "tab_dash",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "grp_controls",
        "type": "ui_group",
        "name": "Controls",
        "tab": "tab_dash",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "tab_dash",
        "type": "ui_tab",
        "name": "Vital Sign Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "nodered_vitalmon",
        "autoConnect": true,
        "usetls": false,
        "protocol": "mqtt://",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "mqtt_in_vitals",
        "type": "mqtt in",
        "name": "Vitals",
        "topic": "hospital/patient/001/vitals",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["json_vitals"]]
    },
    {
        "id": "json_vitals",
        "type": "json",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 100,
        "wires": [["split_vitals"]]
    },
    {
        "id": "split_vitals",
        "type": "function",
        "name": "Split & Route",
        "func": "if (!msg.payload) return null;\n\n// Store in flow context for chart\nflow.set('spo2',      msg.payload.spo2);\nflow.set('heart_rate', msg.payload.heart_rate);\nflow.set('temperature', msg.payload.temperature);\nflow.set('status',    msg.payload.patient_status);\n\n// Route copies to each widget\nreturn [\n    { payload: msg.payload.spo2 },\n    { payload: msg.payload.heart_rate },\n    { payload: msg.payload.temperature },\n    { payload: msg.payload.patient_status },\n    msg  // original for chart\n];",
        "outputs": 5,
        "noerr": 0,
        "x": 440,
        "y": 100,
        "wires": [
            ["gauge_spo2"],
            ["gauge_hr"],
            ["gauge_temp"],
            ["status_colorizer"],
            ["chart_prep"]
        ]
    },
    {
        "id": "gauge_spo2",
        "type": "ui_gauge",
        "name": "SpO2",
        "group": "grp_status",
        "order": 2,
        "width": 2,
        "height": 4,
        "gtype": "gage",
        "title": "SpO2",
        "label": "%",
        "format": "{{value}}",
        "min": 80,
        "max": 100,
        "colors": ["#e74c3c", "#f39c12", "#2ecc71"],
        "seg1": 90,
        "seg2": 94,
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge_hr",
        "type": "ui_gauge",
        "name": "Heart Rate",
        "group": "grp_status",
        "order": 3,
        "width": 2,
        "height": 4,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 30,
        "max": 160,
        "colors": ["#e74c3c", "#f39c12", "#2ecc71", "#f39c12", "#e74c3c"],
        "seg1": 50,
        "seg2": 60,
        "seg3": 100,
        "seg4": 120,
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "name": "Temperature",
        "group": "grp_status",
        "order": 4,
        "width": 2,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 35,
        "max": 41,
        "colors": ["#2ecc71", "#f39c12", "#e74c3c"],
        "seg1": 37.5,
        "seg2": 38.5,
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "text_status",
        "type": "ui_text",
        "name": "Status",
        "group": "grp_status",
        "order": 1,
        "width": 6,
        "height": 2,
        "label": "Patient Status",
        "format": "<span style=\"font-size:24px; font-weight:bold; color:{{msg.color}}\">{{msg.payload}}</span>",
        "layout": "row-center",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "chart_vitals",
        "type": "ui_chart",
        "name": "Vitals Timeline",
        "group": "grp_status",
        "order": 5,
        "width": 6,
        "height": 6,
        "label": "Vitals",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "ymin": "",
        "ymax": "",
        "removeOlder": 300,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutaxis": "cut",
        "colors": ["#3498db", "#e74c3c", "#2ecc71"],
        "useDifferentColor": true,
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "chart_prep",
        "type": "function",
        "name": "Prepare Chart Data",
        "func": "var spo2 = flow.get('spo2') || 0;\nvar hr   = flow.get('heart_rate') || 0;\nvar temp = flow.get('temperature') || 0;\n\nif (spo2 === 0) return null;\n\nvar ts = msg.payload && msg.payload.timestamp\n    ? msg.payload.timestamp\n    : new Date().toISOString();\n\nreturn [\n    { payload: spo2, topic: 'SpO2' },\n    { payload: hr,   topic: 'Heart Rate' },\n    { payload: temp, topic: 'Temperature' }\n];",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 300,
        "wires": [["chart_vitals"]]
    },
    {
        "id": "status_colorizer",
        "type": "function",
        "name": "Colorize Status",
        "func": "var color = '#2ecc71';  // Normal = green\nif (msg.payload === 'Warning')  color = '#f39c12';\nif (msg.payload === 'Critical') color = '#e74c3c';\nmsg.color = color;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 240,
        "wires": [["text_status"]]
    },
    {
        "id": "mqtt_in_state",
        "type": "mqtt in",
        "name": "State",
        "topic": "hospital/patient/001/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 240,
        "wires": [["status_colorizer"]]
    },
    {
        "id": "mqtt_in_alarm",
        "type": "mqtt in",
        "name": "Alarm",
        "topic": "hospital/patient/001/alarm",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 400,
        "wires": [["json_alarm"]]
    },
    {
        "id": "json_alarm",
        "type": "json",
        "name": "Parse Alarm",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 400,
        "wires": [["alarm_format"]]
    },
    {
        "id": "alarm_format",
        "type": "function",
        "name": "Format Alarm",
        "func": "if (!msg.payload) return null;\n\nvar alarm = msg.payload;\nvar ts = alarm.timestamp || new Date().toISOString();\nvar color = alarm.alarm_status === 'Critical' ? '#e74c3c' : '#f39c12';\n\nmsg.payload = {\n    alarm: alarm.alarm_status,\n    spo2: alarm.spo2,\n    heart_rate: alarm.heart_rate,\n    temperature: alarm.temperature,\n    timestamp: ts\n};\n\n// Also send notification toast\nreturn [\n    msg,\n    { payload: '🚨 ' + alarm.alarm_status + ' Alarm! SpO2:' + alarm.spo2 + '% HR:' + alarm.heart_rate + ' Temp:' + alarm.temperature + '°C' }\n];",
        "outputs": 2,
        "noerr": 0,
        "x": 440,
        "y": 400,
        "wires": [
            ["alarm_table"],
            ["alarm_toast"]
        ]
    },
    {
        "id": "alarm_table",
        "type": "ui_table",
        "name": "Alarm Log",
        "group": "grp_alarms",
        "order": 1,
        "width": 6,
        "height": 8,
        "columns": [
            {"title": "Timestamp", "field": "timestamp", "width": 30},
            {"title": "Alarm",     "field": "alarm",     "width": 15},
            {"title": "SpO2",      "field": "spo2",      "width": 10},
            {"title": "HR",        "field": "heart_rate","width": 10},
            {"title": "Temp",      "field": "temperature","width": 15}
        ],
        "outputs": 1,
        "cts": true,
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "alarm_toast",
        "type": "ui_toast",
        "name": "Alarm Notification",
        "group": "grp_alarms",
        "order": 2,
        "width": 0,
        "height": 0,
        "position": "top-right",
        "duration": "10000",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "mqtt_in_presence",
        "type": "mqtt in",
        "name": "Presence",
        "topic": "hospital/patient/001/presence",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 560,
        "wires": [["presence_colorizer"]]
    },
    {
        "id": "presence_text",
        "type": "ui_text",
        "name": "Connection Status",
        "group": "grp_alarms",
        "order": 3,
        "width": 6,
        "height": 2,
        "label": "Device Connection",
        "format": "<span style=\"font-size:18px; color:{{msg.color}}\">{{msg.payload}}</span>",
        "layout": "row-center",
        "x": 340,
        "y": 560,
        "wires": []
    },
    {
        "id": "inject_init_offline",
        "type": "inject",
        "name": "Init Offline",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "offline",
        "payloadType": "str",
        "x": 470,
        "y": 520,
        "wires": [["presence_colorizer"]]
    },
    {
        "id": "presence_colorizer",
        "type": "function",
        "name": "Colorize Presence",
        "func": "// Change detection — skip if value unchanged\nvar prev = context.get('prev_presence');\nif (prev === msg.payload && msg.payload !== undefined) return null;\ncontext.set('prev_presence', msg.payload);\nmsg.color = msg.payload === 'online' ? '#2ecc71' : '#e74c3c';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 560,
        "wires": [["presence_text"]]
    },
    {
        "id": "btn_ping",
        "type": "ui_button",
        "name": "PING",
        "group": "grp_controls",
        "order": 1,
        "width": 2,
        "height": 2,
        "label": "PING",
        "icon": "wifi",
        "tooltip": "Kirim PING ke device",
        "color": "",
        "bgcolor": "",
        "className": "",
        "x": 120,
        "y": 700,
        "wires": [["cmd_ping"]]
    },
    {
        "id": "cmd_ping",
        "type": "function",
        "name": "Format PING",
        "func": "msg.payload = 'PING';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 700,
        "wires": [["mqtt_out_cmd"]]
    },
    {
        "id": "btn_get_state",
        "type": "ui_button",
        "name": "GET_STATE",
        "group": "grp_controls",
        "order": 2,
        "width": 2,
        "height": 2,
        "label": "GET STATE",
        "icon": "info",
        "tooltip": "Minta state terakhir",
        "color": "",
        "bgcolor": "",
        "className": "",
        "x": 120,
        "y": 780,
        "wires": [["cmd_get_state"]]
    },
    {
        "id": "cmd_get_state",
        "type": "function",
        "name": "Format GET_STATE",
        "func": "msg.payload = 'GET_STATE';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 780,
        "wires": [["mqtt_out_cmd"]]
    },
    {
        "id": "btn_reboot",
        "type": "ui_button",
        "name": "REBOOT",
        "group": "grp_controls",
        "order": 3,
        "width": 2,
        "height": 2,
        "label": "REBOOT",
        "icon": "power_settings_new",
        "tooltip": "Reboot device ESP32",
        "color": "",
        "bgcolor": "#e74c3c",
        "className": "",
        "x": 120,
        "y": 860,
        "wires": [["cmd_reboot"]]
    },
    {
        "id": "cmd_reboot",
        "type": "function",
        "name": "Format REBOOT",
        "func": "msg.payload = 'REBOOT';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 860,
        "wires": [["mqtt_out_cmd"]]
    },
    {
        "id": "btn_thresholds",
        "type": "ui_button",
        "name": "GET_THRESHOLDS",
        "group": "grp_controls",
        "order": 4,
        "width": 2,
        "height": 2,
        "label": "THRESHOLDS",
        "icon": "tune",
        "tooltip": "Tampilkan threshold saat ini",
        "color": "",
        "bgcolor": "#9b59b6",
        "className": "",
        "x": 120,
        "y": 940,
        "wires": [["cmd_thresholds"]]
    },
    {
        "id": "cmd_thresholds",
        "type": "function",
        "name": "Format GET_THRESHOLDS",
        "func": "msg.payload = 'GET_THRESHOLDS';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 940,
        "wires": [["mqtt_out_cmd"]]
    },
    {
        "id": "btn_ack_alarm",
        "type": "ui_button",
        "name": "ACK_ALARM",
        "group": "grp_controls",
        "order": 5,
        "width": 2,
        "height": 2,
        "label": "ACK ALARM",
        "icon": "check_circle",
        "tooltip": "Acknowledge alarm (silence buzzer)",
        "color": "",
        "bgcolor": "#f39c12",
        "className": "",
        "x": 120,
        "y": 1000,
        "wires": [["cmd_ack"]]
    },
    {
        "id": "cmd_ack",
        "type": "function",
        "name": "Format ACK_ALARM",
        "func": "msg.payload = 'ACK_ALARM';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1000,
        "wires": [["mqtt_out_cmd"]]
    },
    {
        "id": "mqtt_out_cmd",
        "type": "mqtt out",
        "name": "Command Out",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 480,
        "y": 800,
        "wires": []
    },
    {
        "id": "mqtt_in_cmd",
        "type": "mqtt in",
        "name": "Cmd Resp",
        "topic": "hospital/patient/001/cmd",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 1080,
        "wires": [["cmd_response_display"]]
    },
    {
        "id": "cmd_response_display",
        "type": "ui_text",
        "name": "Command Response",
        "group": "grp_controls",
        "order": 6,
        "width": 6,
        "height": 4,
        "label": "Command Response",
        "format": "<pre style=\"font-size:12px; background:#2c3e50; color:#ecf0f1; padding:8px; border-radius:4px;\">{{msg.payload}}</pre>",
        "layout": "row-center",
        "x": 320,
        "y": 1080,
        "wires": []
    }
]
