Node-Red/flows.json
[
    {
        "id": "2549c635175c",
        "type": "ui_group",
        "name": "Patient Status",
        "tab": "b03326a5db29",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "c57527a38947",
        "type": "ui_group",
        "name": "Alarms & Events",
        "tab": "b03326a5db29",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "2ee2d4b88ab7",
        "type": "ui_group",
        "name": "Controls",
        "tab": "b03326a5db29",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "b03326a5db29",
        "type": "ui_tab",
        "name": "Vital Sign Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a951eb53e9e1",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "nodered_vitalmon",
        "autoConnect": true,
        "usetls": false,
        "protocol": "mqtt://",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5edb6f1e9a5f",
        "type": "mqtt in",
        "name": "Vitals",
        "topic": "hospital/patient/001/vitals",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a951eb53e9e1",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "b2a403ea7539"
            ]
        ]
    },
    {
        "id": "b2a403ea7539",
        "type": "json",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "d2fc6a12f069"
            ]
        ]
    },
    {
        "id": "d2fc6a12f069",
        "type": "function",
        "name": "Split & Route",
        "func": "if (!msg.payload) return null;\n\nflow.set('spo2',      msg.payload.spo2);\nflow.set('heart_rate', msg.payload.heart_rate);\nflow.set('temperature', msg.payload.temperature);\nflow.set('status',    msg.payload.patient_status);\n\nreturn [\n    { payload: msg.payload.spo2 },\n    { payload: msg.payload.heart_rate },\n    { payload: msg.payload.temperature },\n    { payload: msg.payload.patient_status },\n    msg\n];",
        "outputs": 5,
        "noerr": 0,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "dab11c804f99"
            ],
            [
                "8179cfcc7ffc"
            ],
            [
                "6d25495da0d2"
            ],
            [
                "c8184edc6f9e"
            ],
            [
                "e30d4f2cb5b0"
            ]
        ]
    },
    {
        "id": "dab11c804f99",
        "type": "ui_gauge",
        "name": "SpO2",
        "group": "2549c635175c",
        "order": 2,
        "width": 2,
        "height": 4,
        "gtype": "gage",
        "title": "SpO2",
        "label": "%",
        "format": "{{value}}",
        "min": 80,
        "max": 100,
        "colors": [
            "#e74c3c",
            "#f39c12",
            "#2ecc71"
        ],
        "seg1": 90,
        "seg2": 94,
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "8179cfcc7ffc",
        "type": "ui_gauge",
        "name": "Heart Rate",
        "group": "2549c635175c",
        "order": 3,
        "width": 2,
        "height": 4,
        "gtype": "gage",
        "title": "Heart Rate",
        "label": "bpm",
        "format": "{{value}}",
        "min": 30,
        "max": 160,
        "colors": [
            "#e74c3c",
            "#f39c12",
            "#2ecc71",
            "#f39c12",
            "#e74c3c"
        ],
        "seg1": 50,
        "seg2": 60,
        "seg3": 100,
        "seg4": 120,
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d25495da0d2",
        "type": "ui_gauge",
        "name": "Temperature",
        "group": "2549c635175c",
        "order": 4,
        "width": 2,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "\u00b0C",
        "format": "{{value}}",
        "min": 35,
        "max": 41,
        "colors": [
            "#2ecc71",
            "#f39c12",
            "#e74c3c"
        ],
        "seg1": 37.5,
        "seg2": 38.5,
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "4dc89d55505f",
        "type": "ui_text",
        "name": "Status",
        "group": "2549c635175c",
        "order": 1,
        "width": 6,
        "height": 2,
        "label": "Patient Status",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "28b891b41c5c",
        "type": "ui_chart",
        "name": "Vitals Timeline",
        "group": "2549c635175c",
        "order": 5,
        "width": 6,
        "height": 6,
        "label": "Vitals",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "ymin": "",
        "ymax": "",
        "removeOlder": "300",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutaxis": "cut",
        "colors": [
            "#3498db",
            "#e74c3c",
            "#2ecc71"
        ],
        "useDifferentColor": true,
        "x": 620,
        "y": 300,
        "wires": []
    },
    {
        "id": "e30d4f2cb5b0",
        "type": "function",
        "name": "Prepare Chart",
        "func": "var spo2 = flow.get('spo2') || 0;\nvar hr   = flow.get('heart_rate') || 0;\nvar temp = flow.get('temperature') || 0;\n\nif (spo2 === 0) return null;\n\nvar ts = Date.now();\n\nreturn [\n    { payload: [{ t: ts, y: spo2 }], topic: 'SpO2' },\n    { payload: [{ t: ts, y: hr   }], topic: 'Heart Rate' },\n    { payload: [{ t: ts, y: temp }], topic: 'Temperature' }\n];",
        "outputs": 3,
        "noerr": 0,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "28b891b41c5c"
            ],
            [
                "28b891b41c5c"
            ],
            [
                "28b891b41c5c"
            ]
        ]
    },
    {
        "id": "c8184edc6f9e",
        "type": "function",
        "name": "Colorize Status",
        "func": "var color = '#2ecc71';\nif (msg.payload === 'Warning')  color = '#f39c12';\nif (msg.payload === 'Critical') color = '#e74c3c';\nmsg.payload = '<span style=\"font-size:24px;font-weight:bold;color:' + color + '\">' + msg.payload + '</span>';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "4dc89d55505f"
            ]
        ]
    },
    {
        "id": "6adfed49520d",
        "type": "mqtt in",
        "name": "State",
        "topic": "hospital/patient/001/state",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a951eb53e9e1",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "c8184edc6f9e"
            ]
        ]
    },
    {
        "id": "fecb296dea7b",
        "type": "mqtt in",
        "name": "Alarm",
        "topic": "hospital/patient/001/alarm",
        "qos": "1",
        "datatype": "string",
        "broker": "a951eb53e9e1",
        "x": 120,
        "y": 400,
        "wires": [
            [
                "bd0733ebacfc"
            ]
        ]
    },
    {
        "id": "bd0733ebacfc",
        "type": "json",
        "name": "Parse Alarm",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 400,
        "wires": [
            [
                "0151704e28a0"
            ]
        ]
    },
    {
        "id": "0151704e28a0",
        "type": "function",
        "name": "Format Alarm",
        "func": "if (!msg.payload || typeof msg.payload !== 'object') return null;\nif (!msg.payload.alarm_status && !msg.payload.spo2) return null;\n\nvar alarm = msg.payload;\nvar ts = alarm.timestamp || new Date().toISOString();\nvar color = alarm.alarm_status === 'Critical' ? '#e74c3c' : '#f39c12';\n\nmsg.payload = {\n    alarm: alarm.alarm_status || 'Unknown',\n    spo2: alarm.spo2 || 0,\n    heart_rate: alarm.heart_rate || 0,\n    temperature: alarm.temperature || 0,\n    timestamp: ts\n};\n\nvar toastMsg = alarm.alarm_status + ' Alarm! SpO2:' + (alarm.spo2 || 0) + '% HR:' + (alarm.heart_rate || 0) + ' Temp:' + (alarm.temperature || 0) + '\u00b0C';\n\nreturn [\n    msg,\n    { payload: '\ud83d\udea8 ' + toastMsg }\n];",
        "outputs": 2,
        "noerr": 0,
        "x": 440,
        "y": 400,
        "wires": [
            [
                "6540d36efa89"
            ],
            [
                "3d107d2dd4de"
            ]
        ]
    },
    {
        "id": "6540d36efa89",
        "type": "ui_table",
        "name": "Alarm Log",
        "group": "c57527a38947",
        "order": 1,
        "width": 6,
        "height": 8,
        "columns": [
            {
                "title": "Time",
                "field": "timestamp",
                "width": 25
            },
            {
                "title": "Alarm",
                "field": "alarm",
                "width": 20
            },
            {
                "title": "SpO2",
                "field": "spo2",
                "width": 15
            },
            {
                "title": "HR",
                "field": "heart_rate",
                "width": 15
            },
            {
                "title": "Temp",
                "field": "temperature",
                "width": 25
            }
        ],
        "outputs": 1,
        "cts": true,
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "3d107d2dd4de",
        "type": "ui_toast",
        "name": "Alarm Notification",
        "group": "c57527a38947",
        "order": 2,
        "width": 0,
        "height": 0,
        "position": "top-right",
        "duration": "10000",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "589ca3ad055a",
        "type": "mqtt in",
        "name": "Presence",
        "topic": "hospital/patient/001/presence",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "a951eb53e9e1",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "c8451f8cb98a"
            ]
        ]
    },
    {
        "id": "645b168b0bfa",
        "type": "ui_text",
        "name": "Connection Status",
        "group": "c57527a38947",
        "order": 3,
        "width": 6,
        "height": 2,
        "label": "Device Connection",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 340,
        "y": 560,
        "wires": []
    },
    {
        "id": "c8451f8cb98a",
        "type": "function",
        "name": "Colorize Presence",
        "func": "var prev = context.get('prev_presence');\nif (prev === msg.payload) return null;\ncontext.set('prev_presence', msg.payload);\nvar color = msg.payload === 'online' ? '#2ecc71' : '#e74c3c';\nmsg.payload = '<span style=\"font-size:18px;font-weight:bold;color:' + color + '\">' + msg.payload + '</span>';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 480,
        "y": 560,
        "wires": [
            [
                "645b168b0bfa"
            ]
        ]
    },
    {
        "id": "457cdc181e29",
        "type": "ui_button",
        "name": "PING",
        "group": "2ee2d4b88ab7",
        "order": 1,
        "width": 2,
        "height": 2,
        "label": "PING",
        "icon": "wifi",
        "tooltip": "Kirim PING ke device",
        "color": "",
        "bgcolor": "",
        "className": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "954ecd1fdfdf"
            ]
        ]
    },
    {
        "id": "954ecd1fdfdf",
        "type": "function",
        "name": "Format PING",
        "func": "msg.payload = 'PING';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 700,
        "wires": [
            [
                "768dc912c595"
            ]
        ]
    },
    {
        "id": "3c51df1127d3",
        "type": "ui_button",
        "name": "GET_STATE",
        "group": "2ee2d4b88ab7",
        "order": 2,
        "width": 2,
        "height": 2,
        "label": "GET STATE",
        "icon": "info",
        "tooltip": "Minta state terakhir",
        "color": "",
        "bgcolor": "",
        "className": "",
        "x": 120,
        "y": 780,
        "wires": [
            [
                "d5106efc1708"
            ]
        ]
    },
    {
        "id": "d5106efc1708",
        "type": "function",
        "name": "Format GET_STATE",
        "func": "msg.payload = 'GET_STATE';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 780,
        "wires": [
            [
                "768dc912c595"
            ]
        ]
    },
    {
        "id": "ea34fc6976ae",
        "type": "ui_button",
        "name": "REBOOT",
        "group": "2ee2d4b88ab7",
        "order": 3,
        "width": 2,
        "height": 2,
        "label": "REBOOT",
        "icon": "power_settings_new",
        "tooltip": "Reboot device ESP32",
        "color": "",
        "bgcolor": "#e74c3c",
        "className": "",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "b85d528a1bad"
            ]
        ]
    },
    {
        "id": "b85d528a1bad",
        "type": "function",
        "name": "Format REBOOT",
        "func": "msg.payload = 'REBOOT';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 860,
        "wires": [
            [
                "768dc912c595"
            ]
        ]
    },
    {
        "id": "4ef2234c6036",
        "type": "ui_button",
        "name": "GET_THRESHOLDS",
        "group": "2ee2d4b88ab7",
        "order": 4,
        "width": 2,
        "height": 2,
        "label": "THRESHOLDS",
        "icon": "tune",
        "tooltip": "Tampilkan threshold saat ini",
        "color": "",
        "bgcolor": "#9b59b6",
        "className": "",
        "x": 120,
        "y": 940,
        "wires": [
            [
                "250512a58026"
            ]
        ]
    },
    {
        "id": "250512a58026",
        "type": "function",
        "name": "Format GET_THRESHOLDS",
        "func": "msg.payload = 'GET_THRESHOLDS';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 940,
        "wires": [
            [
                "768dc912c595"
            ]
        ]
    },
    {
        "id": "c185ec5e62c1",
        "type": "ui_button",
        "name": "ACK_ALARM",
        "group": "2ee2d4b88ab7",
        "order": 5,
        "width": 2,
        "height": 2,
        "label": "ACK ALARM",
        "icon": "check_circle",
        "tooltip": "Acknowledge alarm (silence buzzer)",
        "color": "",
        "bgcolor": "#f39c12",
        "className": "",
        "x": 120,
        "y": 1000,
        "wires": [
            [
                "0832fe756913"
            ]
        ]
    },
    {
        "id": "0832fe756913",
        "type": "function",
        "name": "Format ACK_ALARM",
        "func": "msg.payload = 'ACK_ALARM';\nmsg.topic = 'hospital/patient/001/cmd';\nmsg.qos = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 1000,
        "wires": [
            [
                "768dc912c595"
            ]
        ]
    },
    {
        "id": "768dc912c595",
        "type": "mqtt out",
        "name": "Command Out",
        "topic": "",
        "qos": "0",
        "retain": "false",
        "broker": "a951eb53e9e1",
        "x": 480,
        "y": 800,
        "wires": []
    },
    {
        "id": "f46943948698",
        "type": "inject",
        "name": "Init Offline",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "offline",
        "payloadType": "str",
        "x": 470,
        "y": 520,
        "wires": [
            [
                "c8451f8cb98a"
            ]
        ]
    },
    {
        "id": "ec2e873a1fb9",
        "type": "mqtt in",
        "name": "Cmd Resp",
        "topic": "hospital/patient/001/cmd",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "a951eb53e9e1",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "176f145e6fde"
            ]
        ]
    },
    {
        "id": "176f145e6fde",
        "type": "ui_text",
        "name": "Command Response",
        "group": "2ee2d4b88ab7",
        "order": 6,
        "width": 6,
        "height": 4,
        "label": "Command Response",
        "format": "<pre style=\"font-size:12px; background:#2c3e50; color:#ecf0f1; padding:8px; border-radius:4px;\">{{msg.payload}}</pre>",
        "layout": "row-center",
        "x": 320,
        "y": 1080,
        "wires": []
    }
]